@font-face {
    font-family: 'Ubuntu Condensed';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Condensed'),
         local('UbuntuCondensed-Regular'),
         url(http://themes.googleusercontent.com/static/fonts/ubuntucondensed/v3/DBCt-NXN57MTAFjitYxdrNxB8OB85xaNTJvVSB9YUjQ.woff) format('woff');
}
