@mixin horizontal-menu
{
    ul
    {
        display: table;
        width: 100%;

        list-style-type: none;
        padding: 0;
    }

    li
    {
        z-index: 50;
        display: table-cell;
        vertical-align: middle;
        width: 12.5%;
        text-align: center;
        position: relative;

        text-transform: uppercase;

        padding: 10px 0;

        &:hover
        {
            background-color: #2c2c2c;

            & ul
            {
                background-color: #2c2c2c;
                display: block;
            }
        }
    }

    ul ul
    {
        display: none;
        position: absolute;
        left: 0%;
        top: 100%;

        width: 200%;
        padding: 10px 16px 10px 30px;

        background-color: #000;
    }

    ul ul li
    {
        display: block;
        width: auto;
        text-align: left;

        @include rem-sizing(1.4);

        text-transform: none;

        padding: 0;

        a
        {
            padding: 5px 0;
            display: block;
        }
    }
}
