<footer class="primary-footer">
    <p>Created for Sunshine PHP Hackathon by <a href="http://twitter.com/damon__jones">Damon Jones</a> &amp; <a href="http://twitter.com/mdavis1982">Matthew Davis</a></p>
</footer>
