{% extends 'HTAppBundle:Layouts:base.html.twig' %}

{% block title %}Get Your Groove On{% endblock title %}

{% block content %}
    <div class="content-wrapper">
        <h1>Join a Party</h1>

        <form action="{{ path('party_join') }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <p>
                <button type="submit">Join</button>
            </p>
        </form>
    </div>
{% endblock content %}
