{%  extends 'HTAppBundle:Layouts:base.html.twig' %}

{% block title %}Be a Party Animal{% endblock title %}

{% block content %}
<div class="content-wrapper">
    <h1>Create a new party</h1>

    <form action="{{ path('party_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>
</div>
{% endblock content %}
